---
import "@fontsource-variable/inter";
import "@fontsource-variable/noto-sans-jp";
import "@/assets/app.css";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>UEC Atlas</title>
  </head>
  <body class={Astro.props.class}>
    <slot />
  </body>
</html>
