---
import "@fontsource-variable/inter";
import "@fontsource-variable/noto-sans-jp";
import "@/assets/app.css";
import Navbar from "@/components/Navbar.astro";
import BaseLayout from "./BaseLayout.astro";
import Footer from "@/components/Footer.astro";
---

<BaseLayout class="flex flex-col min-h-dvh" {...Astro.props}>
  <Navbar />
  <slot name="preContent" />
  <div class="flex-1">
    <main class="bg-base-100 container mx-auto px-2 md:px-8 py-4 md:py-6">
      <slot />
    </main>
  </div>
  <slot name="postContent" />
  <Footer />
</BaseLayout>
