---
import "@fontsource-variable/inter";
import "@fontsource-variable/noto-sans-jp";
import "@/assets/app.css";
import Navbar from "@/components/Navbar.astro";
import BaseLayout from "./BaseLayout.astro";
import Footer from "@/components/Footer.astro";
---

<BaseLayout class="flex flex-col min-h-dvh">
  <Navbar />
  <main class="flex-1">
    <slot />
  </main>
  <Footer />
</BaseLayout>
