---
import type { I18NString } from "generated/organization";
import type { StructureAmenity } from "generated/spatial";
import { defineIcons } from "icon-plugin";
import { formatI18NString } from "@/utils/rdf";
import Icon from "../Icon.svelte";

interface Props {
  amenities: StructureAmenity[];
}

const { amenities } = Astro.props;

defineIcons([
  "mdi:heart-pulse",
  "mdi:wheelchair",
  "mdi:account-plus",
  "mdi:bench",
]);
const amenityTags: Record<string, { label: I18NString; icon: string }> = {
  aed: { label: { en: "AED", ja: "AED設置" }, icon: "mdi:heart-pulse" },
  wheelchair_accessible: {
    label: { en: "Wheelchair Accessible", ja: "車椅子対応" },
    icon: "mdi:wheelchair",
  },
  ostomate: {
    label: { en: "Ostomate Friendly", ja: "オストメイト対応" },
    icon: "mdi:account-plus",
  },
  nursing_bench: {
    label: { en: "Nursing Bench", ja: "介助用ベッド" },
    icon: "mdi:bench",
  },
};
---

<div class="flex flex-wrap gap-2">
  {
    amenities.map((amenity) => {
      const tag = amenityTags[amenity.propertyID];
      if (tag && amenity.value) {
        return (
          <div class="d-badge d-badge-primary d-badge-soft">
            <Icon name={tag.icon} class="text-lg" />
            <span class="font-medium">{formatI18NString(tag.label, "ja")}</span>
          </div>
        );
      }
      return null;
    })
  }
</div>
