---

---

<div class="flex flex-wrap gap-2">
  {
    amenities.map((amenity) => {
      const tag = amenityTags[amenity.propertyID];
      if (tag && amenity.value) {
        return (
          <div class="d-badge d-badge-primary d-badge-soft">
            <Icon name={tag.icon} class="text-lg" />
            <span class="font-medium">{formatI18NString(tag.label, "ja")}</span>
          </div>
        );
      }
      return null;
    })
  }
</div>
