---
import CardBreadcrumb from "@/components/CardBreadcrumb.astro";
import Heading1 from "@/components/Heading1.astro";
import Heading2 from "@/components/Heading2.astro";
import DataViewComponent from "@/components/dataview/DataView.astro";
import JSONLDPreview from "@/components/dataview/JSONLDPreview.astro";
import { allOrganizationDataView } from "@/components/dataview/definitions/organization";
import DataRepositoryLayout from "@/layouts/DataRepositoryLayout.astro";
import { allJSONLD } from "@/pages/data/organizations/all";
import { expandURI } from "@/utils/url";

export const prerender = true;

const currentId = `uatr:organizations/all`;
const fullURL = expandURI(currentId);

const breadcrumbItems = [
  { label: "Home", href: "/page/", icon: "mdi:home" },
  {
    label: "Organizations",
    href: "/page/organizations/",
    icon: "mdi:account-group",
  },
  {
    label: "all",
  },
];
---

<DataRepositoryLayout title="すべての組織">
  <CardBreadcrumb items={breadcrumbItems} />
  <Heading1>
    <span>すべての組織</span>
  </Heading1>

  <DataViewComponent
    value={{ organizations: allJSONLD.items }}
    items={allOrganizationDataView}
  />

  <Heading2>JSON-LD</Heading2>
  <JSONLDPreview
    code={JSON.stringify(allJSONLD, null, 2)}
    ontology="organization"
    fullURL={fullURL}
  />
</DataRepositoryLayout>
