<section
  class="px-4 py-12 even:bg-primary even:text-white border-y border-y-base-300 [&_h2]:text-[2rem] [&_h2]:uppercase [&_h2]:tracking-widest [&_h2]:font-bold"
>
  <div class="container mx-auto flex flex-col gap-4">
    <slot />
  </div>
</section>
