<section
  class="py-12 px-16 even:bg-(--color-primary) even:text-white [&_h2]:mt-0 [&_h2]:mb-4 [&_h2]:text-[2rem] [&_h2]:uppercase [&_h2]:tracking-widest [&_h2]:font-bold"
>
  <div class="mx-auto max-w-300">
    <slot />
  </div>
</section>
