---

---

<DataRepositoryLayout
  title={formatI18NString(spatial.properties.name, "ja", "無名の地理情報")}
>
  <CardBreadcrumb items={breadcrumbItems} />
  <Heading1>
    <span slot="subtitle"
      >{
        formatI18NString(
          spatial.properties.name,
          "en",
          "Unnamed Spatial Entity",
        )
      }</span
    >
    <span
      >{formatI18NString(spatial.properties.name, "ja", "無名の地理情報")}</span
    >
  </Heading1>

  <DataViewComponent value={spatial} items={spatialDataView} />

  <Heading2>プレビュー</Heading2>
  {
    spatialJsonLD.geometry ? (
      <div class="w-full h-96 border border-base-300 rounded-md overflow-hidden mb-4">
        <SpatialPreviewMap
          style="width: 100%; height: 100%;"
          feature={spatialJsonLD as unknown as GeoJSON.Feature}
        />
      </div>
    ) : (
      <p class="mb-4">ジオメトリ情報が存在しないため、地図を表示できません。</p>
    )
  }

  <Heading2>JSON-LD</Heading2>
  <JSONLDPreview
    code={JSON.stringify(spatialJsonLD, null, 2)}
    ontology="spatial"
    fullURL={fullURL}
  />
</DataRepositoryLayout>
