---
import CardBreadcrumb from "@/components/CardBreadcrumb.astro";
import Heading1 from "@/components/Heading1.astro";
import Heading2 from "@/components/Heading2.astro";
import DataViewComponent from "@/components/dataview/DataView.astro";
import JSONLDPreview from "@/components/dataview/JSONLDPreview.astro";
import SpatialPreviewMap from "@/components/dataview/SpatialPreviewMap.astro";
import { allSpatialDataView } from "@/components/dataview/definitions/spatial";
import DataRepositoryLayout from "@/layouts/DataRepositoryLayout.astro";
import { allJSONLD } from "@/pages/data/spatial/all";
import { expandURI } from "@/utils/url";

export const prerender = true;

const currentId = `uar:spatial/all`;
const fullURL = expandURI(currentId);

const breadcrumbItems = [
  { label: "Home", href: "/page/", icon: "mdi:home" },
  {
    label: "Spatial",
    href: "/page/spatial/",
    icon: "mdi:map",
  },
  {
    label: "all",
  },
];
---

<DataRepositoryLayout title="すべての地物">
  <CardBreadcrumb items={breadcrumbItems} />

  <Heading1>すべての地物</Heading1>
  <DataViewComponent value={allJSONLD} items={allSpatialDataView} />

  <div
    class="my-8 h-96 w-full border border-base-300 rounded-md overflow-hidden"
  >
    <SpatialPreviewMap
      style="width: 100%; height: 100%;"
      feature={allJSONLD as unknown as GeoJSON.Feature}
    />
  </div>

  <Heading2>JSON-LD</Heading2>
  <JSONLDPreview
    code={JSON.stringify(allJSONLD, null, 2)}
    ontology="spatial"
    fullURL={fullURL}
  />
</DataRepositoryLayout>
