---
import Card from "@/components/index/Card.astro";
import Hero from "@/components/index/Hero.astro";
import Section from "@/components/index/Section.astro";
import LayoutNoContainer from "@/layouts/LayoutNoContainer.astro";
import { Code } from "astro:components";
import { defineIcons } from "icon-plugin";

export const prerender = true;

defineIcons([
  "material-symbols:graph-2",
  "material-symbols:public",
  "material-symbols:group",
  "material-symbols:account-tree",
  "material-symbols:menu-book",
  "material-symbols:map",
  "material-symbols:download",
  "material-symbols:query-stats",
]);
---

<LayoutNoContainer>
  <Hero />

  <Section>
    <h2>About</h2>
    <p class="leading-8 indent-4 tracking-wide">
      UEC Atlas
      は、電気通信大学のデータを構造化・整理し、誰もが利用できるようにする
      Linked Open Data プロジェクトです。
      セマンティックWeb技術を活用してデータの相互運用性と再利用性を高めます。
      電気通信大学に関する情報をオープンかつアクセスしやすい形で提供することで学生中心の情報活用を促進し、
      大学コミュニティ全体の知識共有と協働、生活の質の向上への寄与を目指します。
    </p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <Card title="Structured Data" icon="material-symbols:graph-2">
        <p class="leading-6 tracking-wide">
          大学のあらゆる情報をJSON-LD形式で公開し、データの検索、連携、分析を容易にします。
        </p>
      </Card>
      <Card title="Open Access" icon="material-symbols:public">
        <p class="leading-6 tracking-wide">
          すべてのデータはオープンライセンス(CC BY
          4.0)の下で提供され、誰でも自由にアクセス、利用、共有できます。
        </p>
      </Card>
      <Card title="Community Driven" icon="material-symbols:group">
        <p class="leading-6 tracking-wide">
          誰もがデータの収集、検証、更新に参加できる仕組みを提供し、継続的な改善を図ります。
        </p>
      </Card>
    </div>
  </Section>

  <Section>
    <h2>Data</h2>
    <p class="leading-8 indent-4 tracking-wide">
      UEC Atlas では、電気通信大学に関連する多様なデータセットを提供しています。
    </p>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 text-base-content"
    >
      <Card title="Organizations" icon="material-symbols:account-tree">
        <p class="leading-6 tracking-wide">
          大学内の各種組織(類、専攻、プログラムなど)の情報を提供しています。
        </p>
        <Fragment slot="actions">
          <a
            href="/page/organizations/all"
            class="d-btn d-btn-primary d-btn-sm"
          >
            データを見る
          </a>
        </Fragment>
      </Card>
      <Card title="Courses" icon="material-symbols:menu-book">
        <p class="leading-6 tracking-wide">
          講義の概要やカリキュラムの情報を提供しています。
        </p>
        <Fragment slot="actions">
          <a
            href="/page/courses/all"
            class="d-btn d-btn-primary d-btn-sm d-btn-disabled"
          >
            データを見る
          </a>
        </Fragment>
      </Card>
      <Card title="Spatial" icon="material-symbols:map">
        <p class="leading-6 tracking-wide">
          大学内の建物や施設の地理情報を提供しています。
        </p>
        <Fragment slot="actions">
          <a href="/page/spatial/all" class="d-btn d-btn-primary d-btn-sm">
            データを見る
          </a>
        </Fragment>
      </Card>
    </div>
  </Section>

  <Section>
    <h2>Usage</h2>
    <p class="leading-8 indent-4 tracking-wide">
      UEC Atlas のデータは、以下の方法で取得できます。
    </p>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-4 text-base-content"
    >
      <Card title="Download" icon="material-symbols:download">
        <p class="leading-6 tracking-wide">
          JSON-LD形式でデータを直接ダウンロードできます。
        </p>
      </Card>
      <Card title="SPARQL" icon="material-symbols:query-stats">
        <p class="leading-6 tracking-wide">
          SPARQLクエリを使用して、必要なデータを柔軟に取得できます。
        </p>
        <Fragment slot="actions">
          <a href="/sparql-playground" class="d-btn d-btn-primary d-btn-sm">
            プレイグラウンドを開く
          </a>
        </Fragment>
      </Card>
    </div>
    <div class="d-mockup-code">
      <Code
        class="bg-transparent! px-4 before:hidden"
        code={`# 専門教育プログラムのIDと名称の一覧を取得する
PREFIX schema: <http://schema.org/>
PREFIX uao: <https://uec-atlas.e-chan1007.workers.dev/ontology/>

SELECT ?org ?orgName WHERE {
  ?org a uao:EducationProgram;
       schema:name ?orgName .
}`}
        lang="sparql"
      />
    </div>
    <div class="d-mockup-code">
      <Code
        class="bg-transparent! px-4 before:hidden"
        code={`# AEDが設置されている建物名を取得する
PREFIX schema: <http://schema.org/>
PREFIX uao: <https://uec-atlas.e-chan1007.workers.dev/ontology/>

SELECT ?name WHERE {
  [] a uao:Building;
     schema:name ?name;
     schema:amenityFeature [
       schema:value true;
       schema:propertyID "aed"
     ] .
  FILTER(LANG(?name)="ja")
}`}
        lang="sparql"
      />
    </div>
    <div class="d-mockup-code">
      <Code
        class="bg-transparent! px-4 before:hidden"
        code={`# 生協が管理する施設の月曜日の営業時間を取得する
PREFIX uao: <https://uec-atlas.e-chan1007.workers.dev/ontology/>
PREFIX uar: <https://uec-atlas.e-chan1007.workers.dev/resources/>
PREFIX uar-org: <https://uec-atlas.e-chan1007.workers.dev/resources/organizations/>
PREFIX schema: <http://schema.org/>

SELECT ?facility ?open ?closes WHERE {
  ?facility a uao:Facility;
    schema:name ?facilityName;
  	schema:managedBy uar-org:22GBCPB7;
   	schema:openingHoursSpecification [
      schema:dayOfWeek "Monday";
      schema:opens ?open;
      schema:closes ?closes
    ] .
  FILTER(LANG(?facilityName)="ja")
}`}
        lang="sparql"
      />
    </div>
  </Section>
</LayoutNoContainer>
