---
import Hero from "@/components/index/Hero.astro";
import Section from "@/components/index/Section.astro";
import LayoutNoContainer from "@/layouts/LayoutNoContainer.astro";
---

<LayoutNoContainer>
  <Hero />
  <Section>
    <h2>About</h2>
    <p>ここにUEC Atlasの説明文が入ります。</p>
    <a href="/page/organizations/all" class="d-btn mt-4"
      >Explore Organizations</a
    >
  </Section>
  <Section>
    <h2>Get Started</h2>
    <p>ここに説明文が入ります。</p>
  </Section>
  <Section>
    <h2>Title</h2>
    <p>ここに説明文が入ります。</p>
  </Section>
  <Section>
    <h2>Title</h2>
    <p>ここに説明文が入ります。</p>
  </Section>
  <Section>
    <h2>Title</h2>
    <p>ここに説明文が入ります。</p>
  </Section>
</LayoutNoContainer>
