---
import Logo from "@/assets/logo.svg";
---

<footer
  class="d-footer sm:d-footer-horizontal bg-base-300 text-base-content p-10"
>
  <aside>
    <h1 class="text-xl font-extrabold flex items-center gap-2">
      <Logo class="w-auto h-10" />
      <span>UEC Atlas</span>
    </h1>
  </aside>
  <nav>
    <h2 class="d-footer-title">Repository</h2>
    <a class="d-link link-hover" href="/page/organizations">Organizations</a>
    <a class="d-link link-hover" href="/page/spatial">Spatial</a>
  </nav>
</footer>
