---
import { Icon } from "astro-icon/components";
---

<footer
  class="d-footer sm:d-footer-horizontal bg-base-300 text-base-content p-10"
>
  <aside>
    <Icon name="mdi:compass" class="text-3xl" />
    <p>UEC Atlas</p>
  </aside>
  <nav>
    <h6 class="d-footer-title">Services</h6>
    <a class="d-link link-hover">Branding</a>
    <a class="d-link link-hover">Design</a>
    <a class="d-link link-hover">Marketing</a>
    <a class="d-link link-hover">Advertisement</a>
  </nav>
  <nav>
    <h6 class="d-footer-title">Company</h6>
    <a class="d-link link-hover">About us</a>
    <a class="d-link link-hover">Contact</a>
    <a class="d-link link-hover">Jobs</a>
    <a class="d-link link-hover">Press kit</a>
  </nav>
  <nav>
    <h6 class="d-footer-title">Legal</h6>
    <a class="d-link link-hover">Terms of use</a>
    <a class="d-link link-hover">Privacy policy</a>
    <a class="d-link link-hover">Cookie policy</a>
  </nav>
</footer>
