---
import Icon from "@/components/Icon.svelte";
---

<nav
  class="d-navbar bg-base-100 border-b-4 border-b-primary sticky top-0 z-50 h-16"
>
  <div class="container mx-auto flex justify-between">
    <div class="d-navbar-start">
      <a href="/" class="d-join items-center gap-2 text-xl font-bold">
        <Icon name="mdi:compass" />
        UEC Atlas
      </a>
    </div>
    <div class="d-navbar-end">
      <ul class="d-menu">
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>
</nav>
